:root {
  font-size: 10px;
}
@media (max-width: 1279px) {
  :root {
    font-size: 0.7818608288vw;
  }
}

.wrapper {
  width: 100%;
  margin: 0;
}

.inner {
  width: 100%;
  margin: 0 auto;max-width:1100px;
}

@media only screen and (min-width: 1280px) {
  .inner {
    width: 1280px;
  }
}
#header {
  width: 100%;
  background: url("/assets/images/pattern_visual.jpg") top center repeat-x;
  background-size: contain;
}
#header .header__logo {
  font-size: 0;
  text-indent: -9999px;
}
.vodbox {width:100%;max-width:1280px;margin:0 auto;}
.vodbox__rect {
  overflow: hidden;
  position: relative;
  width: calc(100% - 8.4rem);
  height: 0;
  margin: 0 4.2rem;
  padding-top: 51.25%;
  border: 1.5rem solid #60d285;
}
.vodbox__rect .vodframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.evt {
  position: relative;
}

.evt--1 {
  background:url(/assets/images/bg1.jpg) 0 0 repeat;
}
.evt--1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4.4rem;
  background: url("/assets/images/pattern_wave1.jpg") top center repeat-x;
  background-size: 19.2rem;
}
.evt--1 .btn--test {
  margin-bottom: 17rem;
}

.evt--2 {
  background:url(/assets/images/bg2.jpg) 0 0 repeat;
  background-size: 1rem;
}
.evt--2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4.6rem;
  background: url("/assets/images/pattern_wave2.jpg") top center repeat-x;
  background-size: 19.2rem;
}

.replybox {
  padding: 0 6.8rem 15rem;
}
.replybox > form {
  margin-bottom: 3rem;
  font-size: 0;
}
.replybox > form:after {
  content: "";
  display: table;
  clear: both;
}
.replybox .ipt--txt {
  display: inline-block;
  width: calc(100% - 29.2rem);
  height: 8.1rem;
  margin-right: 1.7rem;
  padding: 0 3.2rem;
  border-radius: 2rem;
  border: 0;
  font-size: 3rem;
  color: #e0cecd;
  line-height: 8.1rem;
}
.replybox .btn--submit {
  float: right;
  width: 27.5rem;
  height: 8.1rem;
  background: url("/assets/images/event1_btn.jpg") center center no-repeat;
  background-size: 27.5rem;
}
.replybox .reply__list {
  width: 100%;
  margin-bottom: 5.5rem;
  padding: 2rem 6rem;
  border-radius: 2rem;
  background-color: #fff;
  height:45.6rem;
}
.replybox .reply__list > ul li {
  height: 5.2rem;
}
.replybox .reply__list > ul li:after {
  content: "";
  display: table;
  clear: both;
}
.replybox .reply__list > ul li > p {
  font-size: 2.6rem;
  color: #6a6a6a;
  line-height: 5.2rem;
  letter-spacing: -0.4px;
}
.replybox .reply__list > ul li > p.tx_msg {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 25rem);
}
.replybox .reply__list > ul li > p.tx_nm {
  float: right;
  width: 20rem;
  text-align: right;
}
.replybox .reply__list > ul li > p.tx_nm em {display:inline-block;width: calc(100% - 5rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;}
.replybox .reply__paging {text-align:center;position:relative;padding:0 20rem;
/*
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  */
}
.replybox .reply__paging > li {
  display:inline-block;vertical-align:bottom;margin:0 0.4rem;
  width: 8.4rem;
  height: 8.4rem;
 }
 .replybox .reply__paging > li.pg-first {position:absolute;top:0;left:0;}
 .replybox .reply__paging > li.pg-prev {position:absolute;top:0;left:10.4rem;}
 .replybox .reply__paging > li.pg-next {position:absolute;top:0;right:10.4rem;}
 .replybox .reply__paging > li.pg-last {position:absolute;top:0;right:0;}
 .replybox .reply__paging > li a {
  display:block;
  border-radius: 1.4rem;
  font-size: 4.2rem;
  color: #9a9696;
  text-align: center;
  line-height: 8.2rem;
  vertical-align: middle;
  background-color: #fff;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}
.replybox .reply__paging a:hover {
  opacity: 0.8;
}
.replybox .reply__paging a.on {
  color: #ffe96f;
  background-color: #6350aa;
}
.replybox .reply__paging a.arrow {
  font-size: 0;
  text-indent: -9999px;
  background-image: url("/assets/images/sprite_arrow.jpg");
  background-size: 16.8rem;
}
.replybox .reply__paging a.arrow.first {
  background-position: 0 0;
}
.replybox .reply__paging a.arrow.prev {
  background-position: -8.4rem 0;
}
.replybox .reply__paging a.arrow.last {
  background-position: 0 -8.4rem;
}
.replybox .reply__paging a.arrow.next {
  background-position: -8.4rem -8.4rem;
}

.notice {
  width: 100%;
  background-color: #020101;
}
.notice__info {
  padding: 8rem 7.5rem;
}
.notice__info > dt {
  margin-bottom: 3.5rem;
  font-weight: bold;
  font-size: 2.6rem;
  color: #ada8a5;
  letter-spacing: -0.4px;
  line-height: 4.4rem;
}
.notice__info > dd {
  font-weight: 300;
  font-size: 2.6rem;
  color: #ada8a5;
  letter-spacing: -0.4px;
  line-height: 4.4rem;
}

.quiz_wrapper {
  position: relative;
  height: 794px;
  background-color: #225ac7;
}

.event_quiz {
  position: absolute;
  top: 0;
  left: 50%;
  height: 694px;
  transform: translateX(-50%);
  opacity: 1;
  z-index: 10;
}
.event_quiz .contents {
  position: relative;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 10px;
  border-radius: 20px;
  background-color: #fff;
  transition: 1s all ease-in-out;
  transform: translateY(40px);
  opacity: 0;
}
.event_quiz .contents .quiz__tit {
  display: block;
  position: absolute;
  top: -122px;
  left: 50%;
  width: 1280px;
  height: 122px;
  margin-left: -640px;
  z-index: 10;
  background: url("http://img.enuri.info/images/event/2021/empathywork/w_quiztit_bg.png") no-repeat 0 0;
}
.event_quiz .contents .quiz__tit .tit {
  font-size: 38px;
  color: #fff;
  letter-spacing: -0.4px;
  line-height: 122px;
  vertical-align: middle;
  text-align: center;
}
.event_quiz.intro .contents {
  transition-delay: 0.5s;
  transform: translateY(0);
  opacity: 1;
}

.quiz__item {
  display: block;
  padding: 40px 0 60px;
}
.quiz__item .q_question {
  margin-bottom: 45px;
  text-align: center;
}
.quiz__item .q_question .q_count {
  display: block;
  margin-bottom: 10px;
  font: bold 36px/46px "Roboto", Roboto, sans-serif;
  letter-spacing: -2px;
  color: #225ac7;
}
.quiz__item .q_question .q_txt {
  display: block;
  min-height: 138px;
  font-size: 36px;
  color: #000;
  letter-spacing: -0.4px;
  line-height: 46px;
  opacity: 0.7;
}
.quiz__item .q_example {
  width: 740px;
  margin: 0 auto;
}
.quiz__item .q_example > li {
  position: relative;
  width: 100%;
  height: 72px;
  border-radius: 3px;
  text-align: center;
  background-color: #ebebeb;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.quiz__item .q_example > li + li {
  margin-top: 20px;
}
.quiz__item .q_example > li em {
  display: block;
  font-size: 24px;
  color: #000;
  line-height: 72px;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.quiz__item .q_example > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.quiz__item .q_example > li.is-on {
  background-color: #fff;
}
.quiz__item .q_example > li.is-on em {
  font-weight: bold;
  color: #225ac7;
  opacity: 1;
}
.quiz__item .q_example > li.is-on:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #225ac7;
  pointer-events: none;
}

.quiz__loading {
  display: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.quiz__loading .load__obj {
  position: relative;
  width: 90%;
  height: 300px;
  margin: 100px auto 50px auto;
  background: url(/assets/images/loader_obj.png) center center no-repeat;
  background-size: contain;
}
.quiz__loading .spinner {
  margin: 0 auto 50px;
  width: 100%;
  text-align: center;
}
.quiz__loading .spinner > div {
  width: 30px;
  height: 30px;
  margin: 0 15px;
  background-color: #96bb60;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.quiz__loading .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.quiz__loading .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.quiz__loading .txt {
  display: block;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 55px;
  letter-spacing: -0.2rem;
  color: #359b57;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
}
.layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1055;
}
.layer .layer__inner {
  overflow: hidden;
  position: relative;
  width: 119rem;
  margin: 10rem auto;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width:570px;
}
.layer.on .layer__inner {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
.layer .layer__head {
  position: relative;
  width: 100%;
}
.layer .layer__body .quizbox {
  overflow: hidden;
  width: 100%;
  margin-bottom: 3.5rem;
  border-radius: 3.6rem;
  border: 0.8rem solid #3aa348;
  background-color: #fff;
  background-clip: padding-box;
}
.layer .layer__body .quizbox .quiz__tit {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 0;
  text-indent: -9999px;
  background-image: url(/assets/images/lay_test_tit.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 65%;
}
.layer .layer__body .quizbox .quiz__swiper {
  overflow: hidden;
  padding-bottom:30px;
}
.layer .layer__body .quizbox .tx_tit {
  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: 40px;
  font-size: 0;
  text-indent: -9999px;
}
.layer .layer__body .quizbox .tx_tit.q0 {
  background: url(/assets/images/test_tit1.png) top center no-repeat;
  background-size: auto 100%;
}
.layer .layer__body .quizbox .tx_tit.q1 {
  background: url(/assets/images/test_tit2.png) top center no-repeat;
  background-size: auto 100%;
}
.layer .layer__body .quizbox .tx_tit.q2 {
  background: url(/assets/images/test_tit3.png) top center no-repeat;
  background-size: auto 100%;
}
.layer .layer__body .quizbox .tx_tit.q3 {
  background: url(/assets/images/test_tit4.png) top center no-repeat;
  background-size: auto 100%;
}
.layer .layer__body .quizbox .tx_tit.q4 {
  background: url(/assets/images/test_tit5.png) top center no-repeat;
  background-size: auto 100%;
}
.layer .layer__body .quizbox .quiz__list {
  padding: 0 40px;
}
.layer .layer__body .quizbox .quiz__list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95px;
  margin-bottom: 1.5rem;
  border-radius: 3rem;
  text-align: center;
  background-color: #ebeeec;
  cursor: pointer;
}
.layer .layer__body .quizbox .quiz__list > li p {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.2rem;
  color: #616f63;
}
.layer .layer__body .quizbox .quiz__list > li.on {
  background-color: #c7edd4;
}
.layer .layer__body .quizbox .quiz__list > li.on p {
  color: #374839;
}
.layer .layer__body .quizbox .quiz__result {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width:90%;
  height: auto;
  margin: 30px auto;
  transition: opacity 1s ease-out;
  pointer-events: none;
}
.layer .layer__body .quizbox .quiz__result.on {
  z-index: 1;
  opacity: 1;
  position:relative;
  pointer-events: auto;
}
.layer .layer__body .quiz__btn {
  display: none;
}
.layer .layer__body .quiz__btn.on {
  display: block;
}
.layer .layer__body .quiz__btn .btn--join,
.layer .layer__body .quiz__btn .btn--restart {
  margin-bottom: 3.5rem;
  background: transparent;
}
.layer .layer__body .sharebox {
  overflow: hidden;
  width: 100%;
  margin-bottom: 3.5rem;
  border-radius: 3.6rem;
  border: 0.8rem solid #2c934d;
  background-color: #fff;
  background-clip: padding-box;
}
.layer .layer__body .sharebox .share__head {
  overflow: hidden;
  width: 100%;
  height: 150px;
  background-color: #2c934d;
}
.layer .layer__body .sharebox .share__head .tx_tit {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0;
  text-indent: -9999px;
  background: url(/assets/images/lay_share_tit.png) center center no-repeat;
  background-size: 80%;
}
.layer .layer__body .sharebox .share__body {
  overflow: hidden;
  padding: 0;
}
.layer .layer__body .sharebox .share__body .row {
  padding: 15px 0 60px 0;
}
.layer .layer__body .sharebox .share__body .row .tx_one {
text-align:center;margin-bottom:15px;
}
.layer .layer__body .sharebox .share__body .row .tx_one img {width:50%;}
.layer .layer__body .sharebox .share__body .row .tx_one.tx_one--and {
  /*margin: 8rem auto 4rem;*/
}
/*
.layer .layer__body .sharebox .share__body .row .img_save {
  display: block;
  width: 61.2rem;
  height: 28rem;
  margin: 0 auto;
}*/
.layer .layer__body .sharebox .share__body .row .img_save .btn--save {
  display: block;
  width: 100%;
  height: 200px;
  padding:10px;
}
.layer .layer__body .sharebox .share__body .row .img_save .btn--save img {background:#fff;width:auto;height:100%;}
.layer .layer__body .sharebox .share__body .row .img_download {
  display: block;text-align:center;
}
.layer .layer__body .sharebox .share__body .row .img_download .btn--download {background:#fff;}
.layer .layer__body .sharebox .share__body .row .img_download img {width:50%;}
.layer .layer__body .sharebox .share__body .row .img_download .btn--save {
  display: block;
  width: 100%;
  height: 100%;
}
.layer .layer__body .sharebox .share__body .row--two {
 padding: 15px 0 20px 0;
  background-color: #f8f6f6;
}
.layer .layer__body .sharebox .share__body .row--two .tx_two {
  text-align:center;margin-bottom:25px;margin-top:-45px;
}
.layer .layer__body .sharebox .share__body .row--two .tx_two img {width:70%;}
.layer .layer__body .sharebox .share__body .row--two .tag_copy {text-align:center;}
.layer .layer__body .sharebox .share__body .row--two .tag_copy img {width:77%;}
.layer .layer__body .sharebox .share__body .row--foot {
  padding: 20px 0;
  background-color: #3cb162;
}
.layer .layer__body .sharebox .share__body .row--foot > p {
  display: block;text-align:center;
}
.layer .layer__body .sharebox .share__body .row--foot > p img {width:75%;}
.layer .layer__body .privacybox {
  overflow: hidden;
  width: 100%;
  margin-bottom: 3.5rem;
  border-radius: 3.6rem;
  border: 0.8rem solid #2c934d;
  background-color: #fff;
  background-clip: padding-box;
}
.layer .layer__body .privacybox .form_container {
  padding: 30px 40px;
}
.layer .layer__body .privacybox .form_container .info_msg .tx_tit {
  display: block;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #933d17;
  letter-spacing: -0.2rem;
}
.layer .layer__body .privacybox .form_container .info_msg .tx_msg {
  display: block;
  overflow: hidden;
  overflow-y: auto;
  max-height: 35.4rem;
  padding: 25px;padding-left:0;
  border: 1px solid #bebebe;
  background-color: #f8f6f6;
  list-style-type: decimal;
}
.layer .layer__body .privacybox .form_container .info_msg .tx_msg > li {
  display: block;
  position: relative;
  padding-left: 2rem;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  letter-spacing: -0.2rem;
}
.layer .layer__body .privacybox .form_container .info_msg .tx_msg > li::marker {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.layer .layer__body .privacybox .form_container .info_msg .block-ipt {padding:1rem 0 2rem 0;}
.layer .layer__body .privacybox .form_container .info_msg .block-ipt label {color:#756e6e;font-size:2rem;}
.layer .layer__body .privacybox .form_container .info_msg .block-ipt .ipt-chkbox {width:2.5rem;height:2.5rem;margin-left:0.5rem;}
.layer .layer__body .privacybox .form_row {
  display: block;padding-left:31%;
  position: relative;min-height:5rem;margin-bottom:1rem;
}
.layer .layer__body .privacybox .form_row + .form_row {

}
.layer .layer__body .privacybox .form_row.form_row-option {
  margin-top: 40px;
}
.layer .layer__body .privacybox .form_row .tx_label {
  display: block;
  position:absolute;
  top:0;
  left:0;
  width:28.5%;
  background:#c4e3ce;
  text-align:center;
  font-size:2rem;
  color:#256e37;
  letter-spacing:-0.2rem;
  height:5rem;
  line-height:5rem;
}
.layer .layer__body .privacybox .form_row .ipt-text {border:1px solid #bebebe;height:5rem;font-size:2rem;margin-top:1rem;display:block;width:100%;box-sizing:border-box;text-align:left;padding:0 5%;}
.layer .layer__body .privacybox .form_row .ipt-text:first-child {margin:0;}
.layer .layer__body .privacybox .form_row .ipt-text-zip {width:40%;text-align:center;font-size:2rem;}
.layer .layer__body .privacybox .form_row .ipt-text-zip::placeholder {font-size:2rem;}
.layer .layer__body .privacybox .form_row .tx_msg {font-size:1.7rem;color:#756e6e;margin-top:1rem;}
.layer .layer__body .privacybox .form_row .tx_label .ico_q {
  display: inline-block;
  position: relative;
  margin-top: -2px;
  z-index: 10;
  width: 24px;
  height: 24px;
  font-size: 0;
  vertical-align: top;
  background: var(--member-sprite) -24px -48px no-repeat;
  background-size: var(--member-sprite-size);
  cursor: pointer;
}
.layer .layer__body .privacybox .form_row .ipt {
  display: block;
  width: 100%;
  height: 46px;
  padding: 13px 16px;
  border-radius: 2px;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  letter-spacing: -0.56px;
  line-height: 20px;
  background-color: #fff;
}
.layer .layer__body .privacybox .form_row .ipt::placeholder {
  font-size: 14px;
  color: #ccc;
}
.layer .layer__body .privacybox .form_row .ipt:focus, .layer .layer__body .privacybox .form_row .ipt:valid {
  border-color: #666;
}
.layer .layer__body .privacybox .form_row .tx_error {
  display: block;
  margin-top: 6px;
  font-size: 11px;
  color: #2c934d;
  letter-spacing: -0.3px;
  line-height: 1;
}_
.layer .layer__body .privacybox .form_row .txcorrect {
  display: block;
  margin-top: 6px;
  font-size: 11px;
  color: #1a70dd;
  letter-spacing: -0.3px;
  line-height: 1;
}
.layer .layer__body .privacybox .form_row.is-error .ipt {
  border-color: #ef3839;
}
.layer .layer__body .privacybox .form_row.is-correct .ipt {
  border-color: #1a70dd;
}
.layer .layer__body .privacybox .form_row.is-correct .ipt-phone {
  border-color: #ddd;
}
.layer .layer__body .privacybox .form_row .btn-selfauth {
  display: block;
  width: 100%;
  height: 46px;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: -0.4px;
  color: #fff;
  background-color: #555;
}
.layer .layer__body .privacybox .form_row .tx_sub {
  display: block;
  margin-top: 6px;
  font-size: 11px;
  color: #888;
  letter-spacing: -0.3px;
  line-height: 1;
}
.layer .layer__body .privacybox .form_row .form_box {
  display: block;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
}
.layer .layer__body .privacybox .form_row .form_box + .form_box {
  margin-top: 16px;
}
.layer .layer__body .privacybox .form_row .form_box .box_row {
  padding: 16px;
  font-size: 0;
}
.layer .layer__body .privacybox .form_row .form_box .box_row + .box_row {
  border-top: 1px solid #ddd;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .inline-ipt {
  display: inline-block;
  width: 50%;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .inline-ipt .input--radio-item + label .tx_sub {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #aaa;
  transition: all 0.3s ease-in-out;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .inline-ipt .input--radio-item:checked + label {
  color: #222;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .inline-ipt .input--radio-item:checked + label .tx_sub {
  color: #1a70dd;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .block-ipt {
  display: block;
  position: relative;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .block-ipt + .block-ipt {
  margin-top: 12px;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .block-ipt label {
  font-size: 13px;
  letter-spacing: -0.5px;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .block-ipt .btn_link {
  display: block;
  position: absolute;
  top: 50%;
  right: -10px;
  width: 60px;
  height: 24px;
  margin-top: -12px;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .block-ipt .btn_link > i {
  float: right;
  width: 24px;
  height: 24px;
  background: var(--member-sprite) -48px -48px no-repeat;
  background-size: var(--member-sprite-size);
}
.layer .layer__body .privacybox .form_row .form_box .box_row-head {
  padding: 10px 16px;
}
.layer .layer__body .privacybox .form_row .form_box .box_row-head .block-ipt label {
  font-size: 14px;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .mem_explain > li {
  position: relative;
  padding-left: 22px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #666;
  letter-spacing: -0.36px;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .mem_explain > li + li {
  margin-top: 6px;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .mem_explain > li:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 24px;
  height: 24px;
  background: var(--member-sprite) 0 -48px no-repeat;
  background-size: var(--member-sprite-size);
}
.layer .layer__body .privacybox .form_row .form_box .box_row .mem_explain > li.tx_emp {
  font-size: 13px;
  color: #222;
}
.layer .layer__body .privacybox .form_row .form_box .box_row .mem_explain > li.tx_emp > strong {
  font-weight: bold;
}
.layer .layer__body .privacybox .btn_row {
  display: block;text-align:center;
}
.layer .layer__body .privacybox .form_row+.btn_row {margin-top:4rem;}
.layer .layer__body .privacybox .btn_row .btn-joinus {
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 2px;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #fff;
  background-color: #ccc;
  transition: all 0.5s ease-in-out;
}
.layer .layer__body .privacybox .btn_row .btn-joinus.is-on {
  background-color: #1a70dd;
}
.layer .btn--close {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 2;
  width: 50px;
  height: 50px;
  text-indent: -9999em;
  background: transparent url(/assets/images/btn_lay_close.png) no-repeat;
  background-size: 100%;
}

#layShare .btn--close {
  width: 30px;
  height: 30px;
  background: url(/assets/images/btn_lay_close--white.png) no-repeat;
  background-size:cover;
}

.lay__dimmed {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.lay__dimmed.show {
  opacity: 0.5;
}

.footer {
  width: 100%;
  background: url("/assets/images/pattern_foot.jpg") top left repeat;
  background-size: 128rem;
}

@media only screen and (max-width: 1279px) {
  #header, .event01:after {
    /*height: auto;
    background: none;*/
  }

}
@media only screen and (max-width: 639px) {
	.layer .layer__body .quizbox .quiz__list {
	  padding: 0 7rem;
	}
  .layer .layer__body .quizbox .quiz__list > li {height:18.6rem;margin-bottom:3.2rem;border-radius:3.4rem;}
  .layer .layer__body .quizbox .quiz__list > li p {font-size: 4.7rem;line-height: 6rem;}
  .reply__list ul li > p {
    font-size: 4rem;
    color: #6a6a6a;
    line-height: 5.2rem;
    letter-spacing: -0.4px;
	}
	.layer .layer__body .quizbox .quiz__tit {
		display: block;
		width: 100%;
		height: 50rem;
		font-size: 0;
		text-indent: -9999px;
		background-image: url(/assets/images/lay_test_tit.png);
		background-position: 50% 18rem;
		background-repeat: no-repeat;
		background-size: 90rem;
	}
	.layer .layer__body .quizbox .tx_tit {
	  height: 15.8rem;margin-bottom:7rem;
  }
  .layer .btn--close {
  position: absolute;
  right: 3.3rem;
  top: 2.8rem;
  z-index: 2;
  width: 7.5rem;
  height: 7.5rem;
  text-indent: -9999em;
  background: transparent url(/assets/images/btn_lay_close.png) no-repeat;
  background-size: 7.5rem;
}
  .replybox .reply__list {padding:3rem 6rem;height:47.6rem;}
  .replybox .reply__list > ul li > p {font-size:3.2rem;}
  .notice__info > dt,
  .notice__info > dd {font-size:3.5rem;line-height:5rem;}
  .layer .layer__body .privacybox .form_container .info_msg .tx_tit {margin-bottom:2rem;font-size: 4.2rem;}
  .layer .layer__body .privacybox .form_container .info_msg .tx_msg {
  padding: 4rem;
}
  .layer .layer__body .privacybox .form_container .info_msg .tx_msg > li {font-size:3.6rem;line-height:4.9rem;margin-bottom:4.9rem;}
  .layer .layer__body .privacybox .form_container .info_msg .block-ipt label {font-size:3.5rem;}
  .layer .layer__body .privacybox .form_row .ipt-text-zip {text-align:center;font-size:4.7rem;}
  .layer .layer__body .privacybox .form_row .ipt-text-zip::placeholder {font-size:3rem;}
  .layer .layer__body .privacybox .form_row .tx_msg {font-size:3rem;}
  .layer .layer__body .quizbox .quiz__swiper {
	  overflow: hidden;
	  padding-bottom: 11.8rem;
	}
	.layer .layer__body .quizbox .quiz__result {
	
	  width: 106.3rem;
	  margin: 3.8rem auto 7rem;
	}
	.layer .layer__body .quizbox .quiz__result.on {
	  height: 161rem;
	}
	.quiz__loading .load__obj {
	  width: 35rem;
	  height: 54.5rem;
	  margin: 42.2rem auto 8rem;
	  background: url(/assets/images/loader_obj.png) 0 0 no-repeat;
	  background-size: 35rem;
	}
	.quiz__loading .spinner {
	  margin: 0 auto 8.5rem;
	}
	.quiz__loading .spinner > div {
	  width: 6rem;
	  height: 6rem;
	  margin: 0 3rem;
	}
	.quiz__loading .txt {
	  margin-bottom: 42rem;
	  font-size: 9.6rem;
	  letter-spacing: -0.2rem;
	}
	.layer .layer__body .sharebox .share__body .row {padding-bottom:45px;}
	.layer .layer__body .sharebox .share__body .row--two .tx_two {margin-top:-10%;}
	.layer .layer__body .privacybox .form_container {
	  padding: 8.8rem 6rem 8.8rem 9rem;
	}
	.replybox .reply__paging > li {margin:0 1.2rem;}
	.layer .layer__body .privacybox .form_row+.btn_row {margin-top:6rem;}
	.layer .layer__body .privacybox .form_container .info_msg .block-ipt {padding: 2rem 0 3rem 0;}
}
@media only screen and (max-width: 400px) {
  .notice__info > dt,
  .notice__info > dd {font-size:4.5rem;line-height:6.5rem;}
  .layer .layer__body .privacybox .form_container .info_msg .tx_tit {font-size:6rem;margin-bottom:4rem;}
  .layer .layer__body .privacybox .form_container .info_msg .tx_msg > li {font-size: 4.3rem;line-height: 6rem;}
  .layer .layer__body .privacybox .form_container .info_msg .block-ipt label {font-size:4.5rem;}
  .layer .layer__body .privacybox .form_container .info_msg .block-ipt .ipt-chkbox {width:5rem;height:5rem;margin-left: 1.5rem;}
  .layer .layer__body .privacybox .form_row .tx_label {font-size:5rem;height:10rem;line-height:10rem;}
  .layer .layer__body .privacybox .form_row {min-height:10rem;margin-bottom:2.5rem;}
  .layer .layer__body .privacybox .form_row .ipt-text {height:10rem;margin-top:2rem;}
  .layer .layer__body .privacybox .form_row .tx_msg {font-size:4.3rem;margin-top:2rem;}
  .replybox .ipt--txt {font-size:4.5rem;}
  .replybox .reply__list {padding:4rem 7rem;height:64rem;}
  .replybox .reply__list > ul li {height:7rem;}
  .replybox .reply__list > ul li > p {font-size:4.5rem;}
}

/*# sourceMappingURL=style.css.map */
.object-wrap {position:relative;}
.object-wrap .appear-obj {position:absolute;top:0;width:100%;opacity:0;transition:all 0.7s ease-in-out;}
.object-wrap .appear-obj.vertical {transform:translateY(70px);}
.object-wrap .appear-obj.vertical.opps {transform:translateY(-70px);}
.object-wrap .appear-obj.active {opacity:1;transform:translate(0,0) !important;}
.object-wrap .object-inner {position:absolute;top:0;bottom:0;right:0;left:0;}
.object-wrap .object-inner .appear-obj {position:static;display:block;width:100%;}
.evt.evt--2 .appear-obj:last-child {margin-top:-6rem;}
.go-banner {position:relative;text-align:center;display:block;background:#a2dbe3;}
.go-banner img {width:61%;max-width:450px;}
.go-banner:before,
.go-banner:after {content:"";display:block;width:100%;height:100%;background:url(/assets/images/banner_left.png) 0 0 no-repeat;position:absolute;top:0;right:0;background-size:contain !important;}
.go-banner:after {background:url(/assets/images/banner_right.png) right 0 no-repeat;}